﻿<div ng-click="cancel()" class="glyphicon glyphicon-remove pull-right">
</div>
<div class="clearfix error"><p>Не всі поля заповнені!!!</p></div>
<div class="cont">
    <div class="pull-left left">
        <label for="Title">
            Заголовок
        </label>
        <input type="text" name="TitleTextBox" id="Title" class="form-control titleArea" ng-model="title" required/>
    </div>
    <div class="pull-right right">
        <label>
            Опис
        </label>
        <textarea type="text" name="DescriptionTextAria" id="Description" class="form-control textArea" ng-model="description" required></textarea>
        <div class="btn btn-default pull-right myBtn" ng-click="AddPost()">Додати</div>    
    </div>
</div>
<div class="clearfix c"></div>

