﻿<div class="AddBtnPlace" ng-show="($ctrl.posts.userId != null)">
    <div ng-click="$ctrl.open()" class="btn btn-primary addBtn">Додати</div>
</div>
<div class="postsContainer" input-change id="asd" ng-class="{min:boolChangeClass}">
    <div class="allPosts" ng-repeat="post in $ctrl.posts.posts">
        <div class="onePost">
            <div class="headerPost">
                <div class="headerPlace">
                    <div class="AuthorPlace">
                        {{post.Sorname}} {{post.Name}}
                    </div>
                    <div class="DataPlace">
                        {{post.Date|showDate|date:"dd/MM/yyyy HH:mm:ss"}}
                    </div>
                </div>
                <div class="ButtonsPlace" ng-show="$ctrl.posts.userId == post.AuthorId">
                    <div class="btn btn-danger editBtn" ng-click="$ctrl.open(post)">Редагувати</div>
                    <div class="btn btn-danger" ng-click="$ctrl.DelPost(post)">Видалити</div>
                </div>
            </div>
            <h3 class="titlePlace">{{post.Title}}</h3>
            <div class="descriptionPlace">{{post.Description}}</div>
            <div class="likePlace">
            <span class="NumberOfLikes">{{post.NumberOfLikes}}</span>
            <span class="glyphicon glyphicon-heart-empty like" ng-show="(post.UserId == null)" ng-click="$ctrl.Like(post)"></span>
            <span class="glyphicon glyphicon-heart like" ng-show="(post.UserId != null)" ng-click="$ctrl.DisLike(post)"></span></div>
        </div><br />
    </div>
</div>
