﻿<div class="row" ng-repeat="a in $ctrl.users.users">
    <div class="pull-left">
        <b>{{a.Name}} {{a.Sorname}}</b><br />
        {{a.Email}}<br />
    </div>
    <div class="pull-right">
        <div ng-show="a.Status == null">
            <div class="btn btn-info add-btn" ng-click="$ctrl.SendRequest(a)">Додати</div>
        </div>
        <div ng-show="a.Status == 'friend'">
            <div class="btn btn-danger add-btn" ng-click="$ctrl.CancelRequest(a)">Видалити</div>
        </div>
        <div ng-show="a.Status == 'OutgoingRequest'">
            <div class="btn btn-primary add-btn" ng-click="$ctrl.DeleteFromFriends(a)">Відписатися</div>
        </div>
        <div ng-show="a.Status == 'PendingRequest'">
            <div class="btn btn-success add-btn" ng-click="$ctrl.AcceptRequest(a)">Прийняти</div>
            <div class="btn btn-danger add-btn" ng-click="$ctrl.CancelRequest(a)">Скасувати</div>
        </div>
    </div>
</div>