﻿html {
    width: 100%;
    height: 100%;
}
.cont {
    width: 100%;
    height: 100%; 
    padding-left: 25px;
    padding-right: 25px;
}
.modal-open {
    width: 100%;
    height: 100%;
}
.modal {
    width: 100%;
    height: 100%;
}
.modal-dialog {
    width: 60%;
    height: 60%;
    min-height: 500px;
    overflow: hidden;
}
.modal-content {
    width: 100%;
    height:100%;
    background-color: lightgray;
}
label{
    color: black;
}
.right {
   width: 60%;
   height: 100%;     
}
.left {
   width: 40%;
   height: 100%;  
}
.textArea {
    width: 100%;
    height: 75%;
    max-width: 100%;
    max-height: 75%;
    min-width: 100%;
    min-height: 75%;
    text-align:justify;
}
.titleArea {
    width: 95%;
    max-width: 95%;
    min-width: 95%;
}
.glyphicon-remove {
    margin-top: 7px;
    margin-right: 7px;
}
.myBtn {
    margin-top: 11px;
    width: 125px;
    border: 2px solid black;
    background-color: gainsboro;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}
.error {
    text-align: center;
    color: red;
    
}
.error>p{
    padding-top: 10px;
    display: none;
}

/*body.modal-open-noscroll {
  margin-right: 0!important;
  overflow: hidden;
}
.modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0!important;
}*/

/*.form-control {
    border: dashed 1px grey;    
}*/