﻿body, html, body-content, container{ 
    width: 100%;
    height: 100%;
}
html {
    overflow-y: scroll;
}
/*.qwerty {
    display: inline-block;
    width: calc(180% - 15px);
    text-align: center;
    background-color: red;
}*/
.postsContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.allPosts {
    display: inline-block;
    width: 70%;
    height: 100%;
    background-color: lightgray;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right:30px;
    text-align: left;
}

.postsContainer .allPosts:last-child {
    padding-bottom: 7px;
}
.postsContainer .allPosts:first-child {
    padding-top: 30px;
}

.onePost {
    display: block;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
}
.headerPost {
    width: 100%;
    height: 30%;
}
.headerPlace, .ButtonsPlace {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.headerPlace {
    width: calc(60% - 2px);
}
.ButtonsPlace {
    vertical-align: central;
    
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    width: calc(40% - 2px);
    text-align: right;
}

.editBtn {
    margin-right: 25px;
}

h3 {
    word-break: break-all;
    white-space: pre-wrap;
    text-align: center;
}
.descriptionPlace {
    word-break: break-all;
    white-space: pre-wrap;
    text-align: justify;
}

.AddBtnPlace {
    padding: 15px 0px;
    text-align: right;
}
.addBtn {
    margin-right: 15%;
    width: 125px;
}
.AuthorPlace {
    font-size: larger;
    font-weight: bold;
}
.likePlace {
    text-align: right; 
    /*padding-top: 5px;
    padding-bottom: 3px;*/
}
.like, .NumberOfLikes {
    display: inline-block;
    width: auto;
    height: 20px;
    vertical-align: middle;
}
.like {
    font-size: 20px;
    text-align: center;
}
.NumberOfLikes {
    text-align: left;
    font-size: 20px;
    margin-right: 10px;
}


