﻿@{
    ViewBag.Title = "Головна сторінка";
}
@Styles.Render("~/Content/Index")
<div class="container">
    <div class="col-xs-6 col-sm-offset-3 Body">
        @if (User.Identity.IsAuthenticated)
        {
            <home-component></home-component>
        }
        else
        {
            <h5>
                Для перегляду користувачів
                @Html.ActionLink("Авторизуйтеся", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                 або 
                @Html.ActionLink("Зареєструйтеся", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </h5>
        }
    </div>
</div>

